<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
    <link rel="stylesheet" href="/css/addNewProduct.css">
</head>

<body>
    <div class="container">
        <% if(editMode) { %>
            <form action="/admin/update-catagory" method="post" enctype="multipart/form-data">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" value="<%= catagory._id %>" name="_id">
                <div class="product__image">
                    <div class="uploadOuter">
                        <!-- <label for="uploadFile" class="btn btn-primary">Upload Image</label>
                        <strong>OR</strong> -->
                        <span class="dragBox" id="preview">
                            Darg and Drop image here
                            <input type="file"
                                name="image" id="uploadFile" />
                        </span>
                    </div>
                </div>
        
                <div class="product__details">
                        <% if(errorMessage) { %>
                        <div class="errorBox" style="color: red;"><%= errorMessage %></div>
                        <% } %>
                        <div class="title">
                            <input type="text" placeholder="Catagory Name" name="name" 
                            <% if(oldInput.name) { %> value="<%=oldInput.name%>" <% } %>
                            <% if(editMode) { %> value="<%=catagory.name%>" <% } %>
                            >
                        </div>
                        <div class="des">
                            <% if(oldInput.description) { %> 
                                <textarea name="description" id="" placeholder="Description"><%=oldInput.description%></textarea>
                                <% } %>
                                <% if(editMode) { %>
                                    <textarea name="description" id="" placeholder="Description"><%=catagory.description%></textarea>     
                                <% } %>
                        </div>
                        
                        <div class="submit">
                            <input type="submit" value="UPDATE CATAGORY">
                        </div>
                </div>
            </form>
        <% } else { %>    
            <form action="/admin/add-new-catagory" method="post" enctype="multipart/form-data">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="product__image">
                    <div class="uploadOuter">
                        <!-- <label for="uploadFile" class="btn btn-primary">Upload Image</label>
                        <strong>OR</strong> -->
                        <span class="dragBox" id="preview">
                            Darg and Drop image here
                            <input type="file" 
                                id="uploadFile" name="image" />
                        </span>
                    </div>
                </div>
        
                <div class="product__details">
                        <% if(errorMessage) { %>
                            <div class="errorBox" style="color: red;"><%= errorMessage %></div>
                        <% } %>
                        <div class="title">
                            <input type="text" placeholder="Catagory Name" name="name" <% if(oldInput.name) { %> value="<%=oldInput.name%>" <% } %> >
                        </div>
                    
                        <div class="des">
                            <textarea name="description" id="" placeholder="Description"><% if(oldInput.description) { %> <%=oldInput.description%> <% } %></textarea>
                        </div>
                        
                       
                        <div class="submit">
                            <input type="submit" value="ADD NEW CATAGORY">
                        </div>
                </div>
            </form>
        <% } %>    
        
    </div>
    <script src="/js/addNewProduct.js"></script>
</body>

</html>