<%- include('../includes/header.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <div class="container my-3">
        
        <% if(editMode) { %>
            <h1>Update Category</h1>   
            <div class="text-danger my-2" style="height: 20px;">
                    <% if(errorMessage) { %>
                        <%= errorMessage %>
                    <% } %> 
            </div>
            <form action="/admin/update-catagory" method="post" enctype="multipart/form-data">
                
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" value="<%= catagory._id %>" name="_id">
                <div class="mb-3">
                <label for="name" class="form-label">Category Name</label>
                <input type="text" class="form-control" id="name" name="name" required
                <% if(oldInput.name) { %> value="<%=oldInput.name%>" <% } %>
                <% if(editMode) { %> value="<%=catagory.name%>" <% } %>
                >
                </div>
                
                <div class="mb-3">
                   

                    <% if(oldInput.description) { %> 
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" required><%=oldInput.description%></textarea>
                    <% } %>
                    <% if(editMode) { %>
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" required><%=catagory.description%></textarea>
                    <% } %>
                </div>
                
                <div class="mb-3 my-2">
                    <label for="image" class="form-label" >Image</label>
                    <input type="file" class="form-control" id="image" name="image" required>
                </div>
                <button type="submit" class="btn btn-primary my-2">UPDATE CAGEGORY</button>
            </form> 

        <% } else { %>
                <h1>Add New Category</h1>   
                <div class="text-danger my-2" style="height: 20px;">
                        <% if(errorMessage) { %>
                            <%= errorMessage %>
                        <% } %> 
                </div>
                <form action="/admin/add-new-catagory" method="post" enctype="multipart/form-data">
                    
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                    <div class="mb-3">
                    <label for="name" class="form-label">Category Name</label>
                    <input type="text" class="form-control" id="name" name="name" required <% if(oldInput.title) { %> value="<%= oldInput.title %>" <% } %> >
                    </div>
                    
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" required><% if(oldInput.description) { %> <%= oldInput.description %> <% } %></textarea>
                    </div>
                    
                    <div class="mb-3 my-2">
                        <label for="image" class="form-label" >Image</label>
                        <input type="file" class="form-control" id="image" name="image" required>
                    </div>
                    <button type="submit" class="btn btn-primary my-2">ADD NEW CAGEGORY</button>
                </form>

        <% } %>
        
    </div>
    <footer class="page-footer font-small">
        <div class="footer-copyright text-center py-3">© 2022 Copyright: digitalMall
        </div>  
    </footer>
</body>

</html>